$include-html-global-classes: false;
@import "foundation/components/global";
@import url(http://fonts.googleapis.com/css?family=Amaranth:700);

.title {
  font-family: "Amaranth", "Open Sans", "Helvetica Neue",  sans-serif;
}

.angular-google-map-container {
  height: 200px;

  @media #{$medium-up} {
    height: 300px;
  }

  @media #{$large-up} {
    height: 500px;
  }
}

.introduction {
  background-color: #5679AD;

  h1 {
    color: #fff;
    font-weight: bold;
    margin: 50px 0 50px 0;

    @media #{$medium-up} {
      margin: 150px 0 150px 0;
    }
  }
}
