<div class="row">
  <h1>Apply</h1>
</div>

<form name="apply" novalidate>
  <div class="row">
    <fieldset>
      <legend>Account Information</legend>
      <div class="row">
        <div class="small-6 columns"
          ng-class="{error: apply.firstname.$dirty && apply.firstname.$invalid}">
          <label>First Name <small>Required</small></label>
          <input type="text" name="firstname" ng-model="user.firstname"
          -             required placeholder="Zaphod" />
          <div ng-show="apply.firstname.$dirty && apply.firstname.$invalid">
            <small class="error" ng-show="apply.firstname.$error.required">
              You must provide a first name.
            </small>
          </div>
        </div>
        <div class="small-6 columns"
          ng-class="{error: apply.lastname.$dirty && apply.lastname.$invalid}">
          <label>Last Name <small>Required</small></label>
          <input type="text" name="lastname" ng-model="user.lastname"
            required placeholder="Beeblebrox" />
          <div ng-show="apply.lastname.$dirty && apply.lastname.$invalid">
            <small class="error" ng-show="apply.lastname.$error.required">
              You must provide a last name.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.email.$dirty && apply.email.$invalid}">
          <label>Email <small>Required</small></label>
          <input type="email" name="email" ng-model="user.email"
          required placeholder="zaphod@beeblebrox.com" />
          <div ng-show="apply.email.$dirty && apply.email.$invalid">
            <small class="error" ng-show="apply.email.$error.required">
              You must provide an email.
            </small>
            <small class="error" ng-show="apply.email.$error.email">
              You must provide a valid email.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="row collapse">
            <label>GitHub</label>
            <div class="small-3 columns">
              <span class="prefix">github.com/</span>
            </div>
            <div class="small-9 columns">
              <input type="text" placeholder="zaphod">
            </div>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="row collapse">
            <label>Twitter</label>
            <div class="small-3 columns">
              <span class="prefix">twitter.com/</span>
            </div>
            <div class="small-9 columns">
              <input type="text" placeholder="zaphod">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-6 columns"
          ng-class="{error: apply.password.$dirty && apply.password.$invalid}">
          <label>Password <small>Required</small></label>
          <input type="password" name="password" ng-model="user.password"
          ng-minlength="6" required placeholder="Betelgeuse123" />
          <div ng-show="apply.password.$dirty && apply.password.$invalid">
            <small class="error" ng-show="apply.password.$error.required">
              You must provide a password.
            </small>
            <small class="error" ng-show="apply.password.$error.minlength">
              Passwords must be at least 6 characters in length.
            </small>
          </div>
        </div>
        <div class="medium-6 columns"
          ng-class="{error: apply.password_verify.$dirty && apply.password_verify.$invalid}">
          <label>Password Confirmation <small>Required</small></label>
          <input type="password" name="password_verify"
          ng-model="user.password_verify" match="user.password"
          placeholder="Betelgeuse123" />
          <div ng-show="apply.password_verify.$dirty && apply.password_verify.$invalid">
            <small class="error" ng-show="apply.password_verify.$error.mismatch">
              Must match password.
            </small>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Application</legend>

      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.high_school.$dirty && apply.high_school.$invalid}">
          <label>High School <small>Required</small></label>
          <input type="text" name="high_school"
          ng-model="user.application.high_school" required />
          <div ng-show="apply.high_school.$dirty && apply.high_school.$invalid">
            <small class="error" ng-show="apply.high_school.$error.required">
              You must provide your high school.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.interesting_project.$dirty && apply.interesting_project.$invalid}">
          <label>
            Please tell us about an interesting project, preferably outside
            of class, that you created or worked on. <small>Required</small>
          </label>
          <textarea name="interesting_project"
            ng-model="user.application.interesting_project" required></textarea>
          <div ng-show="apply.interesting_project.$dirty && apply.interesting_project.$invalid">
            <small class="error" ng-show="apply.interesting_project.$error.required">
              You must provide an interesting project.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.system_hacked.$dirty && apply.system_hacked.$invalid}">
          <label>
            Please tell us about the time you most successfully hacked some
            (non-computer) system to your advantage. <small>Required</small>
          </label>
          <textarea name="system_hacked"
            ng-model="user.application.system_hacked" required></textarea>
          <div ng-show="apply.system_hacked.$dirty && apply.system_hacked.$invalid">
            <small class="error" ng-show="apply.system_hacked.$error.required">
              You must provide a system that you hacked.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.passion.$dirty && apply.passion.$invalid}">
          <label>
            What are you passionate about? <small>Required</small>
          </label>
          <textarea name="passion"
            ng-model="user.application.passion" required></textarea>
          <div ng-show="apply.passion.$dirty && apply.passion.$invalid">
            <small class="error" ng-show="apply.passion.$error.required">
              You must discuss what you are passionate about.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.story.$dirty && apply.story.$invalid}">
          <label>
            What is your story? How did you get started with programming? <small>Required</small>
          </label>
          <textarea name="story" ng-model="user.application.story"
            required></textarea>
          <div ng-show="apply.story.$dirty && apply.story.$invalid">
            <small class="error" ng-show="apply.story.$error.required">
              You must include your story.
            </small>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="medium-12 columns"
          ng-class="{error: apply.why.$dirty && apply.why.$invalid}">
          <label>
            Why do you want to start a Hack Club? <small>Required</small>
          </label>
          <textarea name="why" ng-model="user.application.why"
            required></textarea>
          <div ng-show="apply.why.$dirty && apply.why.$invalid">
            <small class="error" ng-show="apply.why.$error.required">
              You must include why you want to start a Hack Club.
            </small>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="panel">
      <pre>user = {{ user | json }}</pre>
    </div>

    <button type="submit" ng-disabled="apply.$invalid">Submit</button>
  </div>
</form>
