<google-map center="map.center" zoom="map.zoom" draggable="true"
  options="{disableDefaultUI: true}">
  <markers models="schools" coords="'location'"></markers>
</google-map>
<div class="introduction">
  <div class="row">
    <h1>
      hackEDU is a student-led international movement that is bringing
      computer science clubs to every high school in the world.
    </h1>
  </div>
</div>
<div class="call-to-action">
  <div class="row">
    <h1>Get Involved</h1>
    <a href="mailto:zach@zachlatta.com" class="button">Start a Hack Club</a>
  </div>
</div>
