{{set . "title" "Home | HackEDU"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#d3595d; color:#fff">
  <div class="container">
    <h1>HackEDU</h1>
    <p> HackEDU is a movement to bring computer science to every high school in
    the United States.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
