{{set . "title" "Home | HackEDU"}}
{{append . "moreStyles" "css/index.css"}}
{{template "header.html" .}}

<header class="jumbotron index_jumbotron">
  <div class="container">
    <h1>hackEDU</h1>
    <p> HackEDU is a movement to bring computer science to every high school in
    the United States.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
